<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">HID Attack UI</h1>
      <p>This UI allows you to start different attacks against the IVI and steering wheel</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2>Clear all</h2>
        <p>Reset all HID hacks, clear IVI</p>
        <p><a class="btn btn-success btn-lg" href="/attack?level=0" role="button">Clear</a></p>
      </div>
      <div class="col-md-3">
        <h2>Ransom Note</h2>
        <p>Display Ransom Note on IVI</p>
        <p><a class="btn btn-warning btn-lg" href="/attack?level=1" role="button">Ransom Note</a></p>
      </div>
      <div class="col-md-3">
        <h2>Wiggle</h2>
        <p>Display Wiggle Note on IVI, wiggle the steering wheel</p>
        <p><a class="btn btn-warning btn-lg" href="/attack?level=2" role="button">Wiggle</a></p>
      </div>
      <div class="col-md-3">
        <h2>Mirror</h2>
        <p>Display Mirror Note on IVI, mirror the steering wheel</p>
        <p><a class="btn btn-warning btn-lg" href="/attack?level=3" role="button">Mirror</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>